:root {
  --main-color: #2d2d2d;
  --accent-one: #05386B;
}

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body, html {
  padding: 0;
  margin: 0;
  background-color: var(--accent-one);
  font-family: 'Oswald', sans-serif;

}

#wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#submissions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  justify-content: center;
  margin: 15px;
  font-size: 1.15em;
}

.submission {
  background-color: var(--main-color);
  white-space: pre-wrap;
  overflow: auto;
  padding: 20px 30px;
  margin: 15px;
}

.empty {
  color: white;
  font-size: 4em;
}

button, input {
  box-sizing: border-box;
  outline: none;
  width: 350px;
  height: 75px;
  color: black;
  border: 0px;
  padding: 20px;
  margin: 20px;
}

button, input  {
  font-size: 1.5em;
}

.remove {
  background-color: #c83333;
}

#submissionReset {
  grid-column: 1 / -1;
  justify-self: center;
}

code {
  color: #ffffff;
  font-size: 1.3em;
}

h1 {
  color: #ffffff;
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.column {
  display: grid;
  grid-template-columns: 1fr;
}

.columnItem {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-size: 45px;
}

.columnItem:nth-child(4n + 1) {
  background-color: #E27D60;
}

.columnItem:nth-child(4n + 2) {
  background-color: #85DCB0;
}

.columnItem:nth-child(4n + 3) {
  background-color: #EAA87C;
}
.columnItem:nth-child(4n + 4) {
  background-color: #C38D9E;
}

.bigParent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lastPull {
  font-size: 45px;
  color: white;
  display: flex;

}

.loading {
  margin: 20px;
  height: 25px;
  display: flex;
  align-items: flex-end;
}

.dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: white;
  border-radius: 50%;
  animation: loadingFade 1.5s infinite ease-in;
  box-shadow: 0 0 2px black;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: .1s;
}
.dot:nth-child(3) {
  animation-delay: .2s;
}
.dot:nth-child(4) {
  animation-delay: .3s;
}
.dot:nth-child(5) {
  animation-delay: .4s;
}

@keyframes loadingFade {
  0% { opacity: 0; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}
